body {
  margin: 0 1em;
}

header {
  display: flex;
  align-items: baseline;
}

header a {
  text-decoration: none;
  color: black;
  background-color: none;
}
header h1 .active {
  color: black;
  background-color: transparent;
}
ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
}
ul li a{
  text-decoration: none;
  padding: 10px 20px;
  font-weight: bold;
}

ul li a:hover{
  background-color: green;
  color: #fff;
}

.active{
  background-color: green;
  color: #fff;
}